@model List< CRUD.Context.tbl_student >
@{
    ViewBag.Title = "StudentList";
}
@*@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>success !</strong> @TempData["AlertMessage"]
    </div>
}*@

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Fname</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    @foreach(var itom in Model)
    {
        <tr>
            <td>@itom.Name</td>
            <td>@itom.Fname</td>
            <td>@itom.Email</td>
            <td>@itom.Mobile</td>
            <td>@itom.Description</td>
            <td>
                <a href="@Url.Action("Student",new {itom.Id,itom.Name,itom.Fname,itom.Email,itom.Mobile,itom.Description })" class="btn btn-success">Edite</a>
                <a href="@Url.Action("Delete",new {itom.Id })" class="btn btn-danger">Delete</a>
                
            </td>
        </tr>
    }
</table>

